/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  width: 100vw;
  height: 100vh;
}

html,
body,
#root {
  height: 100%;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: black;
  color: white;
  border: solid 1px rgb(91, 255, 3);
  border-radius: 2px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00cccc;
}

.Input {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #ffffff;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.input-error {
  border: 2px solid red !important;
}